<template name="titulo_elemental">
    <style>
        #tit_elemento {
            color: #555;
            text-transform: uppercase;
            font-weight: bold;
        }
        #titulo_principal {
            color: #000;
            margin: 0;
            padding: 0;
        }
        #titulo_area{
            background-color: rgba(255,255,255,0.6);
            padding: 15px;
            margin-bottom: 10px;
        }
    </style>
    <div id="titulo_area">
        <div id="tit_elemento">{{elemento}}</div>
        <h1 id="titulo_principal">{{titulo}}</h1>
    </div>
</template>